<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>WOWNOW</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>facebook</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb710267422847140</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wxcb2d7694e0cade99</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>SuperApp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>superapp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>TakingDataAnalysis</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>talkingdata.a8acc56156264280aedd5d90a3643bfe</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>WOWNOW</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>WOWNOW</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>HuiOne</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>huione2</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>710267422847140</string>
	<key>FacebookClientToken</key>
	<string>69353ee8959605ab219038f9c221e1bd</string>
	<key>FacebookDisplayName</key>
	<string>WOWNOW</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<true/>
	<key>FirebaseMessagingAutoInitEnabled</key>
	<true/>
	<key>FirebaseScreenReportingEnabled</key>
	<false/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>ACLEDAmobile</string>
		<string>huionepay</string>
		<string>huionepayPersonal</string>
		<string>weixinURLParamsAPI</string>
		<string>xdbank</string>
		<string>abamobilebank</string>
		<string>comgooglemaps</string>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>fb-messenger-api</string>
		<string>wechat</string>
		<string>weixinULAPI</string>
		<string>weixin</string>
		<string>jhwaimai</string>
		<string>fb</string>
		<string>fb-messenger</string>
		<string>line</string>
		<string>instagram</string>
		<string>instagram-stories</string>
		<string>instagram-capture</string>
		<string>twitter</string>
		<string>twitterauth</string>
		<string>tg</string>
		<string>baidumap</string>
		<string>iosamap</string>
		<string>qqmap</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_Bagel._tcp</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>WOWNOW needs to use your Camera to scan QR code and take photos.</string>
	<key>NSContactsUsageDescription</key>
	<string>WOWNOW needs to access your Contacts to assist you in getting phone number more quickly.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Network access required</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>WOWNOW needs to use your location to discover your nearby stores</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>WOWNOW needs to access your microphone to record your voice message</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>WOWNOW needs to use your album to store photos.</string>
	<key>UIAppFonts</key>
	<array>
		<string>DINPro-Regular.otf</string>
		<string>DINPro-Medium.otf</string>
		<string>DINPro-Light.otf</string>
		<string>DINPro-Bold.otf</string>
		<string>DINPro-Black.otf</string>
		<string>DIN-Bold.otf</string>
		<string>DIN-Light.otf</string>
		<string>DIN-Medium.otf</string>
		<string>DIN-Black.otf</string>
		<string>NunitoSans-Regular.ttf</string>
		<string>NunitoSans-SemiBold.ttf</string>
		<string>NotoSansKhmerUI-Bold.ttf</string>
		<string>NotoSansKhmerUI-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>SALaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
